<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Demande de contact</h1>

    <h3>M. ou Mme {{ contact.nom}} a fait une demande d'information</h3>
    <p>Message:</p>
    <p>{{ contact.message}}</p>
    <p>Pour le contacter: {{ contact.email}} ou {{ contact.telephone}}</p>
</body>

</html>